html {
  height:100%;
}

body{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem; /* Para que no se sobreponga con el navbar */
}

/* archivo: styles.css o App.css */


/* Select content */
.select-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*margin-top: 4rem; /* Para que no se sobreponga con el navbar */
}

.select-container-reports {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.select-container-reports select {
  appearance: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-right: 2.5rem;
  cursor: pointer;
}

.select-container-reports .building-select {
  background-color: #f4e1e5;
  border-color: #ce3a5f;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23cc3366' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
}

.select-container-reports .building-select:hover {
  background-color: #e8b6c4; /* más claro y vibrante */
  border-color: #c54968;
}

.select-container-reports .status-select {
  background-color: #e6ddeb;
  border-color: #a35bd0;
  background-image: url("data:image/svg+xml,%3Csvg fill='purple' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
}

.select-container-reports .status-select:hover {
  background-color: #cfb3e1; /* más claro y vibrante */
  border-color: #c28ce4;
}

.select-container-reports .category-select {
  background-color: #eae8f5;
  border-color: #5d4aac;
  background-image: url("data:image/svg+xml,%3Csvg fill='blue' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
}

.select-container-reports .category-select:hover {
  background-color: #d7d2f4;
  border-color: #5d4aac;
}

.select-container-reports span {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.custom-shadow-border-reports {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border: 3px solid #4629ba;
}

.custom-border-text-area{
  border: 3px solid #4629ba;
}

.custom-border-text-area::selection {
    background-color: transparent;
}

.book-style {
  clip-path: polygon(
    0 0,         /* esquina superior izquierda */
    90% 0,       /* casi la esquina superior derecha */
    100% 50%,    /* pico central derecho */
    90% 100%,    /* casi esquina inferior derecha */
    0 100%       /* esquina inferior izquierda */
  );
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #4629ba 50%, #6a57b3 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.background-etiqueta1 {
  background-color: #d63059;
  transition: background-color 0.3s ease;
}

.background-etiqueta2 {
  background-color: #7A30A9;
  transition: background-color 0.3s ease;
}

.background-etiqueta3 {
  background-color: #4629ba;
  transition: background-color 0.3s ease;
}

.background-etiqueta4 {
  background-color: #1A7D61;
  transition: background-color 0.3s ease;
}

.background-etiqueta5 {
  background-color: #cf7820;
  transition: background-color 0.3s ease;
}

